*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  max-width: 800px;
}

.header {
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  padding: 30px;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.header-icon {
  height: 2.25rem;
}

.header-text {
  padding: 0px 0.25rem;
  font-size: 1.25rem;
  font-family: 'Pacifico', sans-serif;
  background: -webkit-linear-gradient(#0bb1d4, #9f2fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.workspace {
  width: 100%;
  height: 100%;
  margin-bottom: 3em;
  padding: 0 1em 1em 1em;
}

.nav {
  display: flex;
  position: fixed;
  max-width: 800px;
  /* position: -webkit-sticky; */
  width: 100%;
  bottom: 0;
  background-color: #fff;
  padding: 5px;
  height: 3em;
  justify-content: center;
  align-items: center;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background: rgba(0, 0, 0, 0.63);
}

.btn-home,
.btn-add-task,
.btn-menu {
  width: 30vw;
  height: 2.75em;
  background: -webkit-linear-gradient(#9f2fff, #0bb1d4);
  mask-size: 2em;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-origin: content-box;
}

.btn-home {
  mask-image: url(../Assets/home.svg);
  -webkit-mask-image: url(../Assets/home.svg);
}

.btn-add-task {
  mask-image: url(../Assets/mono-svn-add.svg);
  -webkit-mask-image: url(../Assets/mono-svn-add.svg);
}

.btn-menu {
  mask-image: url(../Assets/options.svg);
  -webkit-mask-image: url(../Assets/options.svg);
}

.new-task-overlay {
  width: 100%;
  display: flex;
  justify-content: center;
}

.new-task-card {
  height: 100%;
}

.new-task-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 18rem;
}

textarea {
  resize: none;
}

input,
label,
textarea {
  margin: 5px 0px;
  font-family: sans-serif;
  font-size: 0.75rem;
}

#task-status-checkbox {
  margin: 0px 5px;
}

.task-status-label {
  display: block;
  justify-items: center;
}
