*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-items: center;
  margin: 0px;
  padding: 0px;
}

html {
  width: 100vw;
  height: 100%;
}
body {
  display: flex;
  width: 100%;
  max-width: 600px;
}

.header {
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  padding: 1.75em 0 2em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  cursor: pointer;
}

.header-icon {
  height: 2.75rem;
}

.header-text {
  padding: 0px 0.25rem;
  font-size: 1.5rem;
  font-family: 'Pacifico', sans-serif;
  background: -webkit-linear-gradient(#0bb1d4, #9f2fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.workspace {
  position: relative;
  height: calc(100vh - 9em);
  width: 100%;
  padding: 0 1em;
  overflow: scroll;
}

.underlay {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.219);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
  max-width: 400px;
  height: 50%;
}

h3 {
  margin: 2rem 2rem;
  align-items: center;
}

.btn-add-type {
  margin: 1rem 2rem;
  height: 4rem;
}

.btn-dismiss {
  height: 2rem;
  max-resolution: 1rem 2rem;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#0bb1d4, #9f2fff);
  background-clip: text;
  -webkit-background-clip: text;
  mask-size: 1em;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-origin: content-box;
  -webkit-mask-size: 1em;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-origin: content-box;
}

.btn-dismiss:active {
  font-size: 1.125rem;
}

.nav {
  display: flex;
  /* position: fixed; */
  max-width: 600px;
  /* position: -webkit-sticky; */
  width: 100%;
  bottom: 0;
  background-color: #fff;
  padding: 0.5em;
  height: 3em;
  justify-content: center;
  align-items: center;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5em;
  margin: 2rem;
}

button:active {
  mask-size: 2.25em;
  -webkit-mask-size: 2.25em;
}

.btn-home,
.btn-add-task,
.btn-menu {
  width: 30vw;
  height: 2.75em;
  background: -webkit-linear-gradient(#9f2fff, #0bb1d4);
  mask-size: 2em;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-origin: content-box;
  -webkit-mask-size: 2em;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-origin: content-box;
}

.btn-home {
  mask-image: url(../Assets/home.svg);
  -webkit-mask-image: url(../Assets/home.svg);
}

.btn-add-task {
  mask-image: url(../Assets/mono-svn-add.svg);
  -webkit-mask-image: url(../Assets/mono-svn-add.svg);
}

.btn-menu {
  mask-image: url(../Assets/options.svg);
  -webkit-mask-image: url(../Assets/options.svg);
}

.new-task-overlay {
  width: 100%;
  display: flex;
  justify-content: center;
}

.new-task-card {
  height: 100%;
}

.new-task-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 18rem;
}

textarea {
  resize: none;
}

input,
label,
textarea {
  margin: 5px 0px;
  font-family: sans-serif;
  font-size: 0.75rem;
}

#task-status-checkbox {
  margin: 0px 5px;
}

.task-status-label {
  display: block;
  justify-items: center;
}
